@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
  --font-smooch-sans: "Smooch Sans", cursive;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

/* Classes utilitárias para uso direto */
.font-poppins {
  font-family: var(--font-poppins);
}

.font-smooch-sans {
  font-family: var(--font-smooch-sans);
}

.font-bold {
  font-weight: 800;
}

.font-normal {
  font-weight: 400;
}
